{% extends 'base_site.html' %}{% load static %}
{% block content %}
<section class="section1" style="background: 
        url('{% static 'cafe/carousel/defualt.jpg' %}')center/cover no-repeat">
    <div class="images" style="background: 
        url('{% static 'cafe/carousel/bg-0.jpg' %}')center/cover no-repeat">
        <button type="button" class="btnCaro prevBtn" onclick="prevSlide()">&laquo;</button>
        <button type="button" class="btnCaro nextBtn" onclick="nextSlide()">&raquo;</button>
    </div>
</section>
<!-- FOR THE CONTENT OF THE HOME PAGE -->
<section class="content">
    <img src="{% static 'cafe/homeBg/background.jpg' %}" class="homeBg" alt="homeBg">
    <div class="homeTxt">
        <h1>you are welcome to tosact institute</h1>
        <div id="lineHeight">&nbsp;</div>
        <p id="homeTxtParagraph">That horizon is closer than you think and we will help you get there by managing your
            skills
        </p>
    </div>

    <div class="signUp">
        <button type="button">sign up free!</button>
    </div>

    <div class="helpCenter">
        <a href="#">questions? we can help</a>
    </div>
</section>



<script type="text/javascript"> // For the carousel styling...
    const container = document.querySelector('.images');
    let addCounter = 0;

    function nextSlide() {
        container.animate([{ opacity: '0.1' }, { opacity: '1.0' }],
            { duration: 1000, fill: "forwards" });

        if (addCounter === 5) {
            addCounter = -1;
        }
        addCounter++;
        container.style.backgroundImage =
            `url('{% static 'cafe/carousel/bg-1.jpg' %}')`;

    };

    function prevSlide() {
        container.animate([{ opacity: '0.1' }, { opacity: '1.0' }],
            { duration: 1000, fill: "forwards" });

        if (addCounter === 0) {
            addCounter = 6;
        }
        addCounter--;
        container.style.backgroundImage =
            `url('{% static 'cafe/carousel/bg-0.jpg' %}')`;

    };
</script>

<script src="{% static 'cafe/home.js' %}"></script>
{% endblock content %}