{% load static %}
<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block title %} TOSACT Home {% endblock title %}</title>

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->

    <link rel="stylesheet" href="{% static 'packages/css/styles.css' %}" />

    <link rel="icon" type="image/x-icon" href="{% static 'fav/favicon.ico' %}">
</head>

<body>
    
    {% include 'navbar.html' %}
    

    {% block content %}
    {% endblock content %}
    

    {% include 'scripts.html' %}

    {% include 'footer.html' %}
</body>

</html>